<div class="container">
  <h1><%= t '.title' %></h1>
    <%= render 'search_form', url: tracks_search_path %>
  <h3><%= t '.search_results' %></h3>
  <% if @tracks.present? %>
    <% @tracks.each do |track| %>
      <div class="track">
        <% if track.album.images.any?%>
          <% image = track.album.images[2]%>
          <%= image_tag(image["url"])%>
        <% else %>
          <%= image_tag("default.png", size: "64x64")%>
        <% end %>
        <span class="track-name"><%= track.name %></span>
        <%= track.artists[0].name %>
      </div>
    <% end %>
    <%= paginate @tracks %>
  <% end %>
</div>
