<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h1><%= t '.title' %></h1>
      </div>
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
				<div class="mb-3">
					<%= f.label :name, class: 'form-label' %>
					<%= f.text_field :name, class: 'form-control' %>
				</div>
				<div class="mb-3">
					<%= f.label :email, class: 'form-label' %>
					<%= f.text_field :email, class: 'form-control' %>
				</div>
				<div class="mb-3">
					<%= f.label :password, class: 'form-label' %>
					<%= f.password_field :password, class: 'form-control' %>
				</div>
				<div class="mb-3">
					<%= f.label :password_confirmation, class: 'form-label' %>
					<%= f.password_field :password_confirmation, class: 'form-control' %>
				</div>
				<div class="text-center button">
					<%= f.submit (t '.register'), class: 'btn btn-success btn-lg' %>
				</div>
      <% end %>
			<div class="text-center">
				<%= link_to (t '.to_login_page'), login_path %>
			</div>
    </div>
  </div>
</div>
